In [2]:
num_sec_in_min=60
num_min_in_hour=60
print(num_sec_in_min * num_min_in_hour)

3600

In [3]:
num_sec_in_min=60
num_min_in_hour=60
seconds_per_hour = num_sec_in_min * num_min_in_hour
print(seconds_per_hour)

3600

In [4]:
num_hour_in_day = 24
print(num_hour_in_day * seconds_per_hour)

86400

In [5]:
seconds_per_day = (num_hour_in_day * seconds_per_hour)

In [6]:
print(seconds_per_day / seconds_per_hour)

24.0

In [7]:
print(seconds_per_day//seconds_per_hour)

24

In [8]:
#To the human eye both outputs are the same, but 24.0 is a float and is not equal to 24 if you changed the data type to match the they would be identitical